<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--  <meta charset="UTF-8">
  <title>联系我们</title>
  <link rel="stylesheet" href="../front/third_lib/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="../front/css/common.css"/>
  <link rel="stylesheet" href="../front/css/contact.css"/>-->
  <th:block th:include="include :: front-header('联系我们')" />
  <th:block th:include="include :: front-contact" />

</head>
<body>

<!-------------------------------- 导航栏 --------------------------------->
<div class="main-nav">
  <div class="main-container">
    <th:block th:include="include :: front-logo" />

   <!-- <ul class="nav-list">


      <li><a href="/front/index">首页</a></li>
      <li><a href="/front/wishes">愿望清单</a></li>
      <li><a href="/front/realizations">圆梦故事</a></li>
      <li class="active"><a href="/front/contact">联系我们</a></li>
    </ul>-->
  </div>
</div>


<div class="jumbotron">
  <div class="main-container">
    <h2  th:if="${about}">[[${about.title}]]</h2>
    <h2  th:unless="${about}">联系我们</h2>
  </div>
</div>

<div th:if="${about}" id="contact" class="main-container">
  [(${about.content})]
</div>
<div th:unless="${about}" id="contact" class="main-container">
  <p class="contact-info">如果您有正能量需要投稿分享...</p>

  <p class="contact-info">如果您身边有人需要帮忙...</p>

  <p class="contact-info">如果您要寻找亲人...</p>

  <p class="contact-info">请联系我们！</p>

  <p class="contact-info">我们的联系方式是xxxxxx</p>
</div>




<!--<script src="../front/third_lib/jquery/jquery.js"></script>
<script src="../front/third_lib/bootstrap/js/bootstrap.js"></script>-->

</body>
</html>