<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改圆梦故事')" />
    <th:block th:include="include :: summernote-css" />
    <th:block th:include="include :: jasny-bootstrap-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-story-edit" th:object="${wishStory}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input name="title" th:field="*{title}" class="form-control" type="text">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">图片地址：</label>
                <div class="col-sm-8">
                    <input name="imgurl" th:field="*{imgurl}" class="form-control" type="text">
                </div>
            </div>-->

            <div class="form-group">
                <label class="col-sm-3 control-label">图片地址：</label>
                <div class="col-sm-8">
                    <!-- <input name="imgurl" class="form-control" type="text">-->
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename">[[*{imgurl}]]</span>
                            <input name="imgurl"  id="imgurl" type="hidden"  th:field="*{imgurl}">
                        </div>
                        <span class="input-group-addon btn btn-white btn-file">
                            <span class="fileinput-new">选择文件</span>
                            <span class="fileinput-exists">更改</span>
                            <input type="file" id="imgurlfile"  name="imgurlfile" >
                        </span>
                        <a href="#" class="input-group-addon btn btn-white fileinput-exists" data-dismiss="fileinput">清除</a>

                    </div>
                </div>

                <div class="form-group">
                <label class="col-sm-3 control-label">圆梦简介：</label>
                <div class="col-sm-8">
                   <!-- <input name="storyShort" th:field="*{storyShort}" class="form-control" type="text">-->
                    <textarea name="storyShort" class="form-control" th:field="*{storyShort}"  ></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">故事内容：</label>
                <div class="col-sm-8">
                    <!--<input name="storyInfo" th:field="*{storyInfo}" class="form-control" type="text">-->
                    <input name="storyInfo" th:field="*{storyInfo}" class="form-control" type="hidden">
                    <div id="editor" class="summernote"></div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <th:block th:include="include :: jasny-bootstrap-js" />

    <script type="text/javascript">
        var prefix = ctx + "admin/story";

        $(function() {
            $('.summernote').summernote({
                placeholder: '请输入公告内容',
                height : 192,
                lang : 'zh-CN',
                followingToolbar: false,
                callbacks: {
                    onImageUpload: function (files) {
                        sendFile(files[0], this);
                    }
                }
            });
            debugger;
            var storyInfo = $("#storyInfo").val();
            $('#editor').summernote('code', storyInfo);
        });


        $("#form-story-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var title = $('#title').val();
                if(!title){
                    $.modal.alertWarning("名称不能为空");
                    return false;
                }
                var sHTML = $('.summernote').summernote('code');
                $("#storyInfo").val(sHTML);

                var storyShort = $('#storyShort').val();
                if(!storyShort){
                    $.modal.alertWarning("圆梦简介不能为空");
                    return false;
                }


                var storyInfo = $('#storyInfo').val();
                if(!storyInfo){
                    $.modal.alertWarning("圆梦故事内容不能为空");
                    return false;
                }


                $.operate.save(prefix + "/edit", $('#form-story-edit').serialize());
            }
        }




        // 上传文件
        function sendFileimgurl(file, obj) {
            var data = new FormData();
            data.append("file", file);
            $.ajax({
                type: "POST",
                url: ctx + "common/upload",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function(result) {
                    if (result.code == web_status.SUCCESS) {
                        // $(obj).summernote('editor.insertImage', result.url, result.fileName);
                        debugger;
                        //$('#imgurl').val( result.fileName);
                        $("#imgurl").attr("value",result.fileName);
                    } else {
                        $.modal.alertError(result.msg);
                    }
                },
                error: function(error) {
                    $.modal.alertWarning("图片上传失败。");
                }
            });
        }
        $(function() {
            $('#imgurlfile').on('change.bs.fileinput ', function (e) {
                debugger;
                if(e.currentTarget.files.length>0){
                    sendFileimgurl(e.currentTarget.files[0],this);
                }else{
                    $.modal.alertWarning("请选择照片");
                    return false;
                }

                // 处理自己的业务
                console.info("**************")
            });
        });
    </script>
</body>
</html>