<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >

<head>
    <th:block th:include="front_inc :: front_header('捐款')" />
</head>
<body>
<!-- start page-wrapper -->
<div class="page-wrapper">
    <th:block th:include="front_inc :: front_logo2" />


        <!-- .tp-breadcumb-area end -->
        <!-- start contact-pg-contact-section -->
        <section class="contact-pg-contact-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="section-title-s3 section-title-s5">
                            <h2>联系方式</h2>
                        </div>
                        <div class="contact-details">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </p>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="ti-location-pin"></i>
                                    </div>
                                    <h5>地址</h5>
                                    <p>山东省 烟台市 烟台大学</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="ti-mobile"></i>
                                    </div>
                                    <h5>电话</h5>
                                    <p>17860397387</p>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="ti-email"></i>
                                    </div>
                                    <h5>邮箱</h5>
                                    <p>3203343873@qq.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div> <!-- end container -->
        </section>
        <!-- end contact-pg-contact-section -->

    <th:block th:include="front_inc :: front_foot" />

</div>
<th:block th:include="front_inc :: frontJS" />
</body>

</html>