<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >

<head>
    <th:block th:include="front_inc :: front_header('捐款')" />
</head>

<body>
    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <th:block th:include="front_inc :: front_logo2" />


        <!-- tp-event-area start -->
        <div class="tp-donation-page-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="section-title text-center">
                            <div class="thumb-text">
                                <span>捐赠</span>
                            </div>
                            <h2>一次捐款</h2>
                        </div>
                        <div id="Donations" class="tab-pane">
                            <form action="/alipay/goAlipay" method="post">
                                <!--<div class="tp-donations-amount">
                                    <h2>Your Donation</h2>
                                    <input type="text" class="form-control" name="text" id="text" placeholder="Enter Donation Amount">
                                </div>-->
                                <div class="tp-donations-details">
                                    <h2>详细</h2>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                            <input type="text" class="form-control" name="name" id="fname" placeholder="姓名">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                            <input type="text" class="form-control" name="tel" id="tel" placeholder="联系方式">
                                       <!--     <input type="text" class="form-control" name="name" id="name" placeholder="金额" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
                                       --> </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group clearfix">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="邮箱">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                                            <input type="text" class="form-control" name="Adress" id="Adress" placeholder="地址">
                                        </div>
                                        <div class="col-lg-12 col-12 form-group">
                                            <textarea class="form-control" name="note" id="note" placeholder="留言"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tp-doanation-payment">
                                    <h2>选择捐款方式</h2>
                                    <div class="tp-payment-area">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="tp-payment-option" id="open4">
                                                    <div class="tp-payment-select">
                                                        <ul>
                                                            <li class="addToggle">
                                                                <input id="add" type="radio" checked="checked" name="type" value="0">
                                                                <label for="add">支付方式</label>
                                                            </li>
                                                            <li class="removeToggle">
                                                                <input id="remove" type="radio" name="type" value="1">
                                                                <label for="remove">线下捐赠</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div id="open5" class="payment-name">
                                                        <ul>
                                                            <li class="alipay"><input id="1" type="radio" name="payType" value="0">
                                                                <label for="1"><img src="/reception/picture/alipay.png" alt="支付宝捐款"></label>
                                                            </li>
                                                            <li class="wecharpay"><input id="2" type="radio" name="payType" value="1">
                                                                <label for="2"><img src="/reception/picture/wecharpay.png" alt="微信捐款"></label>
                                                            </li>
                                                          <!--  <li class="visa"><input id="1" type="radio" name="size" value="30">
                                                                <label for="1"><img src="/reception/picture/img-1.png" alt=""></label>
                                                            </li>
                                                            <li class="mas"><input id="2" type="radio" name="size" value="30">
                                                                <label for="2"><img src="/reception/picture/img-2.png" alt=""></label>
                                                            </li>
                                                            <li class="ski"><input id="3" type="radio" name="size" value="30">
                                                                <label for="3"><img src="/reception/picture/img-3.png" alt=""></label>
                                                            </li>
                                                            <li class="pay"><input id="4" type="radio" name="size" value="30">
                                                                <label for="4"><img src="/reception/picture/alipay.png" alt=""></label>
                                                            </li>-->
                                                        </ul>
                                                        <div class="contact-form form-style">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-12 col-12">
                                                                    <label>捐款金额</label>

                                                                    <input type="text" class="form-control" name="payAmount" id="payAmount" placeholder="金额" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="submit-area">
                                    <button type="submit" class="theme-btn submit-btn">Donate Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tp-event-area end -->

        <script type="text/javascript">

            var prefix = "/admin/apply";

            function submitApply() {
                var form =document.forms[0];
                var name = form.name.value;
                var tel = form.tel.value;
                var address = form.adress.value;

                var reason = form.reason.value;
                if(!name){
                    alert("请输入姓名");
                    form.name.focus();
                    return false;
                }

                if(!tel){
                    alert("请输入手机号");
                    form.tel.focus();
                    return false;
                }

                if(!(/^1[34578]\d{9}$/.test(tel))){
                    alert("手机号码有误，请重填");
                    form.tel.focus();
                    return false;
                }

                document.applyForm.action="/front/add";
                document.applyForm.submit();

            }

        </script>


        <th:block th:include="front_inc :: front_foot" />

    </div>
    <th:block th:include="front_inc :: frontJS" />
</body>

</html>