<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >

<head>
    <th:block th:include="front_inc :: front_header('关于我们')" />
</head>

<body>
<!-- start page-wrapper -->
<div class="page-wrapper">
    <th:block th:include="front_inc :: front_logo2" />
    <!-- end of header -->

    <!-- end of header -->


        <!-- volunteer-area-end -->
        <!-- start team-section -->
        <section class="team-section v2 section-padding ">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6 col-lg-offset-3">
                        <div class="section-title text-center">
                            <span>Meet Our Team</span>
                            <h2>Our Expert Volunteer</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="team-grids clearfix">

                            <div class="grid" th:if="${volunteers}"  th:each="volunteer:${volunteers}">
                                <div class="img-holder">
                                    <img th:src="@{'/headImage/upload/'+${volunteer.imgurl}}" alt="${volunteer.name}">
                                </div>
                                <div class="details">
                                    <a th:href="@{'/home/volunteerDetail/'+${volunteer.id}}" >[(${volunteer.name})]</a></h3>

                                </div>
                            </div>



                            <div class="grid">
                                <div class="img-holder">
                                    <img src="/reception/picture/team-1.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="">Devin Robertson</a></h3>
                                    <p>CEO & Founder</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="/reception/picture/team-2.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="">Rickey Goodman</a></h3>
                                    <p>Volunteer</p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="/reception/picture/team-3.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="">Jean Washington</a></h3>
                                    <p>Volunteer</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end team-section -->



        <th:block th:include="front_inc :: front_foot" />

    </div>
    <th:block th:include="front_inc :: frontJS" />
</body>

</html>